
        .Code {
            position: relative;
            background: linear-gradient(to bottom, rgb(67, 67, 67), rgb(0, 0, 0));
            width: 60vw;
            max-width: 500px;

            color: white;
            border: 2px solid grey;
            border-radius: 5px;
            padding: 25px 0px 5px;
        }
        pre {
            position: relative;
            left: -60px;
        }

        h1 { position: relative; 
            bottom: 30px; 
            font-family: sans-serif;
            color: white; 
        }
        .gold { color: rgb(241, 217, 80); }
        .purple { color: rgb(207, 49, 207); }
        .blue { color: rgb(83, 165, 212); }